################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenXML.Templater
/OpenXML.Templater/bin
/OpenXML.Templater/obj
/OpenXML.Templater.Tests/bin
/OpenXML.Templater.Tests/obj
/.vs
/Experiments/NPOI.Experiments/bin
/Experiments/NPOI.Experiments/obj

/OpenXML.Xlsx.Templater/bin
/OpenXML.Xlsx.Templater/obj
/OpenXML.Xlsx.Templater.Tests/bin/
/OpenXML.Xlsx.Templater.Tests/obj/

/OpenXML.Word.Templater/bin
/OpenXML.Word.Templater/obj
/Experiments/Word/bin/Debug/net8.0
/Experiments/Word/obj
/OpenXML.Docx.Templater/bin/Debug/net8.0
/OpenXML.Docx.Templater/obj
