################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenXML.Templater
/OpenXML.Templater/bin
/OpenXML.Templater/obj
/OpenXML.Templater.Tests/bin
/OpenXML.Templater.Tests/obj
/.vs
/Experiments/NPOI.Experiments/bin
/Experiments/NPOI.Experiments/obj

/OpenXML.Xlsx.Templater/bin
/OpenXML.Xlsx.Templater/obj
/OpenXML.Xlsx.Templater.Tests/bin/
/OpenXML.Xlsx.Templater.Tests/obj/

